@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Ubuntu|Montserrat');

body {
  font-family: 'Roboto', sans-serif;
}
.h-divider {
  border-color: #151515;
  margin-top: 0;
}
/* ---------------- Sidebar----------------------*/
.sidebar {
  margin: 0;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  background-color: rgba(28,49,68,0.5);
  -webkit-box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.4);
  box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.4);
}
.sidebar > .row {
  margin-left: 0;
  margin-right: 0;
}
.sidebar .form-control {
  margin-left: 0;
  border-radius: 0;
}
@media (min-width: 992px) {
  .col-sm-offset-3 {
    margin-left: 0;
  }
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
/* --------------- Search box -----------------*/
.custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 0;
  background-color: #fefefe;
}
.custom-search-input input{
  border: 0;
  box-shadow: none;
}
.custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}
.custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}
.custom-search-input .glyphicon-search{
  font-size: 23px;
}
/* -------------------------------------------------*/
.advert-table {
  margin: 2em 0;
}
.advert-table tr {
  border-top: 1px solid #ddd !important;
}
.advert-table tr:hover {
  background-color: #eee !important;
  border-radius: 8px;
  color: #1c3144;
}
.advert-table td {
  border-top: 0 !important;
}
.form-horizontal .form-group {
  margin-bottom: 0;
}
.viewad-headline {
  margin-bottom: 1.5em;
}
.oglas-data {
  padding: 7px 15px;
}
.navbar {
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}
.navbar, .navbar-brand {
  font-family: 'Montserrat', sans-serif !important; 
}
.navbar-brand {
  font-size: 1.5em;
  letter-spacing: 1px;
  color: #F6AE2D !important;
}
.navbar ul {
  font-size: 1.2em;
  padding-top: 2px;
}
.navbar-form input, .navbar-form button {
  border-radius: 0;
}
.login-form {
  position: relative;
  padding-right: 0;
  margin-top: 1px;
}
.login-form > a {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -20px;
}
.login-form > a:hover {
  color: #efe743; 
}
.login-button {
  text-transform: uppercase;
  background-color: #F6AE2D !important;
  border-top: 2px solid #F6AE2D;
  border: 1px solid #F6AE2D;
}
.login-button:hover {
    background-color: #F4BA4E !important;
}
.login-button:active {
  background-color: #F4B030 !important;
}
.navbar-default {
  background-color: #1c3144;
  border-color: #8f99a3;
  border: 0;
  border-radius: 0;
}
.navbar-default .navbar-brand {
  color: #ededed;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ededed;
}
.navbar-default .navbar-text {
  color: #ededed;
}
.navbar-default .navbar-nav > li > a {
  color: #ededed;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ededed;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #1c3144;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ededed;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ededed;
  background-color: #8f99a3;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8f99a3;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ededed;
  background-color: #8f99a3;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ededed;
  background-color: #8f99a3;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ededed;
  background-color: #8f99a3;
}
.navbar-default .navbar-toggle {
  border-color: #8f99a3;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8f99a3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ededed;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ededed;
}
.navbar-default .navbar-link {
  color: #ededed;
}
.navbar-default .navbar-link:hover {
  color: #ededed;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ededed;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ededed;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ededed;
    background-color: #8f99a3;
  }
}
.registracija-link{
  color:#ededed;
  text-decoration: none;
}
.registracija-link:hover, .registracija-link:focus {
  color: #F6AE2D !important;
  text-decoration: none;
}
.dobrodosli{
  color: #ededed;  
}
/* ---------------- Registracija----------------------*/

.viewadPage,.registrationPage, .profilePage, .templatePage {
  background-color: transparent;
  color:#F6AE2D;
}
.form-control[disabled] {
  background-color: #182132 !important;
  border-color: #F6AE2D !important;
}
.form-control[disabled]::-webkit-input-placeholder{
  color: #182132 !important;
}
.distinct-page-form {
  background-color: rgba(28,49,68,0.5);
  border-radius: 8px;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: 4px -4px 18px 0px rgba(194,194,194,0.5),
                      -4px 4px 18px 0px rgba(194,194,194,0.5);
  -moz-box-shadow: 4px -4px 18px 0px rgba(194,194,194,0.5),
                   -4px 4px 18px 0px rgba(194,194,194,0.5);
  box-shadow: 4px -4px 16px 0px rgba(194,194,194,0.5),
              -4px 4px 18px 0px rgba(194,194,194,0.5);
}
.no-top-border {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.no-bottom-border {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.pozadinaRegistracije{
  background-image: url('../assets/images/hand.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pomjereniTextBox{
  display: inline-block;
  width:43%;
  margin-left:5%;
}

.firma {
width:91.5%;
margin-left:5%;
}
.datum {
width:95.5%;
margin-left:2%;
}
.pozadinaProfil{
  background-image: url('../assets/images/treger.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.margineFormeProfila_{
}
.margineFormeProfil{
}
.pozadinaDodavanjeOglasa{
  background-image: url('../assets/images/laptop.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cover-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
.pozadinaPregledOglasa{
  background-image: url('../assets/images/findingJOb.jpg');
 background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tamnijaPodloga{
  background-color: rgba(28,49,68,0.9);
}
.pozadinaPregledKorisnika{
  background-image: url('../assets/images/torba.jpg');
 background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}