<div class="wrap">
  <nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a class="menu-text" href="#">Pretraži oglase</a></li>
        <li>{{#link-to "registracija"}}<a class="menu-text" href="#">Registracija</a>{{/link-to}}</li>
        <li>{{#link-to "login"}}<a class="menu-text" href="#">Prijava</a>{{/link-to}}</li>
      </ul>
    </div>
  </nav>
  {{outlet}}
</div>
