<div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>Posao.ba</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'registracija'}}
        Registracija
      {{/link-to}}
    </div>
  </div>

  <h1>PROBA</h1>

{{outlet}}
