<div class="wrap-welcome">
    <img class="logo-welcome" src="assets/images/logo-white.png">
    {{#link-to "main"}}<button type="button" class="btn btn-outline-primary btn-lg btn-welcome">PRETRAŽI OGLASE</button>{{/link-to}}
</div>