<div class="loginPage">
    <div class="login-form">
       
            <img class="logo-login" src="assets/images/logo-white.png" >
     
        <div class="login-input-wrapper">
            <div class="form-group has-feedback">
                <input class=" colors login-input" placeholder="Korisničko ime" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Korisničko ime'"
                    type="text">
                <i class="glyphicon glyphicon-user form-control-feedback pull-left" aria-hidden="true" style="margin-top: 5px; color: #F7CE3E;"></i>
            </div>
            <div class="form-group has-feedback">
                <input class="colors login-input" placeholder="Lozinka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Lozinka'"
                    type="password">
                <i class="glyphicon glyphicon-lock form-control-feedback pull-left" aria-hidden="true" style="margin-top: 5px; color: #F7CE3E;"></i>
            </div>
         </div>
        <button class="btn btn-primary btn-outline btn-login" style="width: 100%">PRIJAVITE SE</button>
       
    </div>

</div>