<div class="main-page">
{{#link-to "index"}}  <img class="logo-main" src="assets/images/logo.png" >{{/link-to}}	
<div class="form-group has-feedback search-main">
    <input class=" colors login-input main-color" placeholder="Pretraži oglase" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pretraži oglase'" type="text">
    <i class="glyphicon glyphicon-search form-control-feedback pull-left" aria-hidden="true" style="margin-top: 5px; color: #55a078"></i>
</div>            
<table class="table table-hover table-blue">
	<tbody>
		{{#each model.oglasi as |oglas|}}
			<tr class="table-row">
				<td class="col-md-2">
					<img class="img-responsive img-list" src="assets/images/oglas.png">
				</td>
				<td class="col-md-6">
					<h4 class="title">{{oglas.naziv}}</h4>
	                <p class="desc">{{oglas.poslodavac.nazivFirme}}</p>
	                <p class="desc">{{oglas.datumObjave}}</p>
	                <p class="desc">Id: {{oglas.idOglasa}}</p>
	                
				</td>
				<td class="col-md-5">
					{{#link-to 'viewad' oglas.idOglasa}}Pročitaj više
					{{!<button class="btn btn-primary btn-outline btn-main" style="margin-right: 22px;">Pročitaj više</button>}}
					{{/link-to}}
				</td>			
			</tr>
        {{/each}}
	</tbody>
</table>
</div>