<div class="templatePage">
  <!-- Background Image -->
  <div class="img img-responsive pozadinaDodavanjeOglasa cover-screen"></div>
  <div class="container">
    <div class="row">
    	<div class="col-md-7 col-md-offset-1">
			<table class="table table-hover advert-table">
				<tbody>
					{{#each model.korisnik as |_korisnik|}}			
					<tr class="row ">				
						<td class="col-md-3 ">
							<h4 class="title">
									{{_korisnik.username}}
							</h4>
			                <p class="desc">{{_korisnik.email}}</p>
						</td>	
						<!--da se stavi ime, prezime i cv i tjt??
						btw ove se tabele moraju sredit jos pa zanemarite to-->		
					</tr>			
					{{/each}}
				</tbody>
			</table>
		</div>
    </div>
  </div>
</div>