<div class="profilePage">
    <div class="profile-form">
            <img class="logo-profile" src="assets/images/logo.png" >
            <h3 class="profile-izgled"> Pregled profila </h3>
    
    <div class="row">
        <div class="col-sm-12">
		    <ul>
            	<li class="profile-li">Ime korisnika:</li>
            	<br>
            	<li class="profile-li">Kontakt e-mail:</li>
            	<br>
            	<li class="profile-li">Zanimanje:</li>
            	<br>
            	<li class="profile-li">Kontakt telefon:</li>
            	
          	</ul>

        </div>
   	</div>
   	</div>
</div>