<div class="registrationPage">
    <div class="registration-form">
    {{#link-to "index"}}<img class="logo-login" src="assets/images/logo.png" >{{/link-to}}

      <div class="row-registration">
          <div class="registration-block" style="float: left">
              <h4>POSLODAVAC</h4>
              <ul class="list-registration">
                <li class="item-registration">-Objavljivanje oglasa</li>
                <li class="item-registration">-Zatvaranje oglasa</li>
                <li class="item-registration" style="margin-bottom: 55px!important">-Obnova oglasa</li>
                
              </ul>
              {{#link-to 'registracija-poslodavac' }}
              <button class="btn btn-primary btn-outline btn-register" >Registruj se</button>
              {{/link-to}}
          </div>
        
        <div class="registration-block" style="float: left">
          <h4>NEZAPOSLENI</h4>
          <ul class="list-registration">
            <li class="item-registration">-Pretraga oglasa</li>
            <li class="item-registration" style="margin-bottom: 80px!important">-Prijava na oglas</li>
          </ul>
          {{#link-to 'registracija-nezaposleni'}}
            <button class="btn btn-primary btn-outline btn-register" >Registruj se</button>
          {{/link-to}}
        </div>
      </div>

    </div>

</div>
