<div class="col-xs-12 row text-center">
	<div class="col-sm-8 col-sm-offset-2 unauthorizedAccessError">
	    <h3>Pokušali ste pristupiti sadržaju za koji nemate dozvolu.</h3>
	    <hr class="h-divider" />
	    {{#link-to "index"}}
	    <h4>Povratak na početnu</h4>
	    {{/link-to}}
	</div>
</div>