<div class="viewadPage">
    <div class="viewad-form">
            <img class="logo-viewad" src="assets/images/logo.png" >
            <h3 class="viewad-izgled"> Pregled oglasa </h3>
    
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="viewad-li">Naziv oglasa:</li>
                <br>
                <li class="viewad-li">Kategorija:</li>
                <br>
                <li class="viewad-li">Struka:</li>
                <br>
                <li class="viewad-li">Opis oglasa:</li>
                <br>
                <li class="viewad-li">Kontakt info:</li>
            </ul>
            <img class="template-viewad" src="assets/images/oglas.png" >

        </div>
    </div>
    </div>
</div>